---
layout: default
---

<main class="main-content fadeInDown delay_075s">
  <header class="post-header">
    <h1 class="post-title">Recent posts</h1>
  </header><!-- .post-header -->

  {% for post in paginator.posts %}
  <article>
      <!-- <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{post.date | date: "%B %-d, %Y" }}</time>
      <ul class="post-title-home"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a></ul> -->
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="archive-meta"> — <time class="archive-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></li>

  </article><!-- .post -->
  {% endfor %}
 
  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Newer Posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Older Posts &rarr;</a>
      {% endif %}
    </div>
  </nav>
  {% endif %} 

</main><!-- .site-main -->
